<launch>
	<node 
		name="twist_node"        pkg="twist_msgs"      type="twist_pub.py">
   	</node>
	<node 
    		name="esp_node"        pkg="rosserial_python"      type="serial_node.py" output = "screen">
	   	<param name="port"              type="string"               value="/dev/ttyACM0"/>
	    	<param name="baud"              type="int"                  value="115200"/>
   	</node>
</launch>
